.card {
  max-width: 340px;
  height: fit-content;
  border-style: double;
  background-color: #e6e6e6;
  margin: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  color: #5d5d5d;
}

.card-header {
  border: 1px solid #a3a3a3;
  background-color: #a3a3a3;
  color: #f0f0f0;
  border-radius: 4px;
  padding: 5px;
}

.card-name {
  text-align: center;
  width: 100%;
}

.mat-mdc-card-subtitle {
  font-size: 15px;
  color: #707070;
}

.custom-card-actions {
  display: flex;
  justify-content: flex-end;
}

.edit-card,
.delete-card {
  background-color: transparent;
  border: 1px solid #c5c5c5;
  color: rgb(122, 122, 122) !important;
  padding: 4px 10px;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}