.container {
  display: flex;
  height: 100vh;
}

.menu {
  width: auto;
}

.board {
  flex: 1;
  padding: 10x;
}

.columns-container {
  display: flex;
  gap: 0;
  margin: 0;
  padding: 0;
}

.columns {
  padding: 10px;
}