<div class=".column-container">
    <div class="column">
        <nav>
            <div class="column-header" [ngClass]="getColumnHeaderClass()">
                <div class="column-title">
                    <h2>{{ column.columnTitle }}</h2>
                </div>
                <div class="column-status">
                    <span>Status: {{column!.columnStatus}}</span>
                </div>
                <div class="button-group">
                    <button mat-button class="delete-column" *ngIf="column" (click)="deleteColumn(column)">Delete
                        column</button>
                </div>
            </div>
        </nav>
        <ng-container class="cards" *ngFor="let card of cards">
            <app-card [column]="column" [card]="card" (cardDeleted)="onCardDeleted($event)"
                (cardEdited)="openEditDialog($event)"></app-card>
        </ng-container>
        <div class="button-group">
            <button mat-button class="create-card" (click)="addCard()">Add card</button>
        </div>
    </div>
</div>